<div class="container">
	<div class="row" id="imaginary_container">
    <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
    	<h1>Github App</h1>
      <div> 
        <div class="input-group stylish-input-group">
          <input type="text" class="form-control" placeholder="Ex.: angular" data-ng-model="search.text">
          <span class="input-group-addon">
              <button type="submit" data-ng-disabled="!search.text" data-ng-click="search.userSearch()">
              		Pesquisar
                  <span class="glyphicon glyphicon-search"></span>
              </button>  
          </span>
        </div>
        <small>Repositórios públicos e Gists</small>
      </div>
    </div>
	</div>
</div>